.colored-box {
    width: 100%;  /* Width of the box */
    height: 60px; /* Height of the box */
    background-color: #132c87; /* Color of the box */
    border: 2px solid #132c87; /* Optional: Border color and width */
    
}


* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}
nav {
padding: 1rem;
background-color: none;
color: black;
display: flex;
justify-content: space-between;
}
.logo a {color: black;
    text-align: center;
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    text-decoration: none;
}

.menu {
    display: flex;
    color: blue;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.menu li {
    margin: 0 1rem;
    align-items: center;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    /*justify-content: center;*/
    height: 100vh;
    position: relative; /* เพิ่มบรรทัดนี้ */
}
.horizontal-line {width: 95%; /* กำหนดความกว้างให้เต็มหน้า */
    height: 1px; /* ความสูงของเส้น */
    background-color: #000; /* สีของเส้น */
    margin: 10px 0; /* ระยะห่างจากด้านบนและล่าง */

}

.bodytext {display: flex;
    width: 600px;
    height: 40px;
    justify-content: center;
    flex-shrink: 1;
    margin: 1px; /* ระยะห่างจากด้านบนและล่าง */
}
.welcome-text {
    color: #1434A4;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    margin: 0.5px; /* Space around the welcome text */
}

.getstart {
    display: flex;
   /*justify-content: flex-start;*/
    width: 600px;
    height: 70px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.5px; /* Add margin to separate from above elements */
}

.get1 {
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}

#modelSelect {
    width: 200px;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
/*.action1 {
    width: 555px;
height: 89px;
flex-shrink: 0;
border-radius: 10px;
background: #D9D9D9;
}
.action1 action {display: flex;
    width: 342px;
    height: 39px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}*/
