.colored-box {
    width: 100%;
    height: 60px;
    background-color: #132c87;
    border: 2px solid #132c87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

nav {
    padding: 1rem;
    background-color: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

.logo a {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    text-decoration: none;
}

.menu {
    display: flex;
    color: blue;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu li {
    margin: 0 1rem;
    align-items: center;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.horizontal-line {
    width: 95%;
    height: 1px;
    background-color: #000;
    margin: 5px 0;
}

.content {
    margin: 5px 20px;
}

.content h2 {
    font-size: 40px;
    color: #0056b3;
}

.predictboxinput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.left, .right {
    margin: 0 150px;
    justify-content: space-between;
    background-color: #f1f1f1;
}

.Next-btn {
    margin-top: 220px 100px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* .back-button {
    display: flex;
    flex-direction: row; /* จัด Flex items ในแนวนอน */
    /* justify-content: flex-start; /* จัดเรียง Flex items ด้านซ้ายของ Flex container */
  
  } */
  
  button {
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 64rem;
    padding: 1rem;
    align-self: flex-start;
  }
   */
  
