<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPG - SHAP WEB</title>
    <link rel="stylesheet" href="css/styledetection.css">
</head>

<body>
    <div class="colored-box"></div>
    <nav>
        <div class ="logo">
            <a href="#">OPG-SHAP</a>
         </div>
<ul class="menu">
      <li><a href="index.html">IMPORT MODELS</a></li>
      <li><a href="shappage.html">SHAP</a></li>
      <li><a href="detectionpage.html">DETECTION</a></li>
      <li><a href="evaluationpage.html">EVALUATION</a> </li>
</ul>
    </nav>
    <div class="horizontal-line"></div>
    <div class="content">
        <h2>DETECTION</h2>
