<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPG - SHAP WEB</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/updateDefaults.js"></script>
</head>
<body>
    <div class="colored-box"></div>
    <nav>
        <div class ="logo">
            <a href="#">OPG-SHAP</a>
         </div>
<ul class="menu">
      <li><a href="templates/index.html">IMPORT MODELS</a></li>
      <li><a href="shappage.html">SHAP</a></li>
      <li><a href="detectionpage.html">DETECTION</a></li>
      <li><a href="evaluationpage.html">EVALUATION</a> </li>
</ul>
    </nav>
    <div class="horizontal-line"></div>
    <div class="content">
        <h2>Welcome to OPG-SHAP</h2>
        <div class="container">
            <div class="left">
                <h3>Get start</h3>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label class="upload-btn" for="model_file2">Import Models 
                        <input type="file" id="model_file2" name="model_file2" accept=".h5, .hdf5, .pb, .pbtxt, .tflite" class="upload-input" onchange="this.form.submit()">
                    </label>
                </form>
                <form action="/frompredict-page1" method="POST">
                    <select name="model_select" id="model_select" class="select" onchange="updateDefaults()">
                        <option value="">Select Models</option>
                        <option value="0">Age estimation model</option>
                        <option value="1">Sex estimation model</option>
                    </select>
                    <input type="hidden" id="frompredict" name="frompredict">
                    <input type="hidden" id="node0input" name="node0input">
                    <input type="hidden" id="node1input" name="node1input">
                    
                <!--button class="select-models">Select Models </button-->
            </div>
            <div class="right">
                <h3>Import OPG images </h3>
                <div class="image-container">
                
        
                    <span class="delete-icon">🗑️</span> <body>
                        <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                  <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                  <p><img id="output" width="200" /></p> -->
                  <form action="/upload_image" method="post" enctype="multipart/form-data">
                  <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
                  <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                  <p><img id="output" width="200" /></p>
                  <!-- <p><input class="predict-btn" type="submit" value="Predict"></p>  -->
                <script>
                var loadFile = function(event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
                </script>
                  </body>
                </div>
          </div>
      </div>
    </div> 
        <p><input class="predict-btn" type="submit" value="Predict"></p> 
      </div>  
      
      <!-- <a class="predict-btn" href="/shappage">Predict</a>
  </div> -->
        <!-- <a class="predict-btn" href="/shappage">Predict</a>
    </div> -->
</body>
</html>


