<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPG - SHAP WEB</title>
    <link rel="stylesheet" href="../static/css/styleshap.css">
</head>

<body>
    <div class="colored-box"></div>
    <nav>
        <div class ="logo">
            <a href="#">OPG-SHAP</a>
         </div>
        <ul class="menu">
            <li><a href="index.html">IMPORT MODELS</a></li>
            <li><a href="shappage.html">SHAP</a></li>
            <li><a href="detectionpage.html">DETECTION</a></li>
            <li><a href="evaluationpage.html">EVALUATION</a></li>
        </ul>
    </nav>
    <div class="horizontal-line"></div>
    <div class="content">
        <h2>SHAP</h2>

        <form action="/frompredict" method="post" name="frompredict1">
            Predict : <input type="text" name="frompredict" id="predictbox"> <br>
            <!-- Precentile : <input type="number" name="Precentile" id=""> -->
            
            <div class="predictboxinput">
                <div class="left">
                    <label for="node0">Node0:</label><br>
                    <input type="text" name="node0input" id="">
                </div>
                <div class="right">
                    <label for="node1">Node1:</label><br>
                    <input type="text" name="node1input" id="">
                </div>
            </div>
            
            <div class="shapoutput">
                <img src="#" alt="#" style="width: 700px; height: 500px;">
            </div>
            
            <div class="backnext">
                <a class="back-btn" href="../templates/index.html">Back</a>
                <p><input class="Next-btn" type="submit" value="Next"></p> 
            </div>
        </form>
    </div>
</body>
</html>
