<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPG - SHAP WEB</title>
    <link rel="stylesheet" href="../static/css/styleshap.css">
    <script src="../static/js/updateDefaults.js"></script>
</head>
<body>
    <div class="colored-box"></div>
    <nav>
        <div class="logo">
            <a href="#">OPG-SHAP</a>
        </div>
        <ul class="menu">
            <li><a href="index.html">IMPORT MODELS</a></li>
            <li><a href="shappage.html">SHAP</a></li>
            <li><a href="detectionpage.html">DETECTION</a></li>
            <li><a href="evaluationpage.html">EVALUATION</a></li>
        </ul>
    </nav>
    <div class="horizontal-line"></div>
    <div class="content">
        <h2>SHAP</h2>
        <form action="/frompredict" method="POST">
            <label for="frompredict">Predict:</label>
            <input type="text" name="frompredict" id="frompredict" value="{{ predict_input }}">
            <br><br>
            <label for="node0input">Node0:</label>
            <input type="text" name="node0input" id="node0input" value="{{ node0_input }}">
            <br><br>
            <label for="node1input">Node1:</label>
            <input type="text" name="node1input" id="node1input" value="{{ node1_input }}">
            <br><br>
            <div class="shapoutput">
                <img src="#" alt="#" style="width: 700px; height: 500px;">
            </div>
            <div class="backnext">
                <a class="back-btn" href="index.html">Back</a>
                <p><input class="Next-btn" type="submit" value="Next"></p>
            </div>
        </form>
    </div>
</body>
</html>
